# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# Logs
*.log

# Windows
Thumbs.db
Desktop.ini

# IDE
.idea/

# Registry hive test files (если будешь хранить локально)
*.DAT
*.dat
*.hiv